body
{
	background-color:#CCCCCC;
}
#whole
{
	width:1600px;
	margin:0px auto;
}
header
{
	width:1600px;
	height:230px;
	margin:0px auto;
	padding:0px;
	/*border:3px solid #FFFFFF;*/
	background-image:url(../Í¼Æ¬ËØ²Ä/ÉãÓ°banner.jpg); /*logo ±³¾°ÑÕÉ«*/
}
nav
{
	width:1600px;
	height:40px;
	margin:0px auto;
	padding:0px;
	/*border:1px solid #FF0000;*/
	background-image:url(../Í¼Æ¬ËØ²Ä/Íþ¿Í×¨Çøµ¼º½.jpg);
}
#content
{
	width:1600px;
	margin:0px auto;
	padding:0px;
}
article
{
height:2500px;
}
aside
{
	width:250px;
	margin:0px auto;
	padding:0px;
	/*border:1px dashed #000000;*/
    float:left;
	position:relative;
	top:20px;
	
	}

.ulone{
	width:300px;
	height:200px;
	list-style-type:none;
	text-align:left;
	margin:0px margin;
	position:relative;
	right:65px;
	top:-10px;
}
.lione{
	width:180px;
	height:30px;
	padding:10px 0px 10px 80px;
	margin:10px auto;
	font:25px "·½ÕýÒ¦Ìå";
	background-image:url(../Í¼Æ¬ËØ²Ä/¹«Ë¾¼ò½éµ¼º½.png);
}
.lione a{
	width:200px;
	height:30px;
	text-decoration:none;
    color: #FFFFFF;
	font:25px "·½ÕýÒ¦Ìå";
	}

.lione a:hover{
	width:200px;
	height:30px;
	color:#FFFFFF;
	text-shadow:#000000 2px 2px 4px;
	
}

.lizero
{   
	margin:0px auto;  
	height:40px;
	border:0px #999999;
	background-image:url(../Í¼Æ¬ËØ²Ä/Íþ¿Í×¨Çøµ¼º½.jpg);
	float:left;
	text-align:center;
	text-decoration:none;
	list-style-type:none;
	}
.lizero a
{ 
	height:40px;
	background-image:url(../Í¼Æ¬ËØ²Ä/Íþ¿Í×¨Çøµ¼º½.jpg);
	text-decoration:none;
	color:#FFFFFF;
	
	}
	.lizero:hover{
	background-image:url(../Í¼Æ¬ËØ²Ä/Íþ¿Í×¨Çøµ¼º½.jpg);
	transition:height 1s;
	margin-top:-4px;
	}
#navlist
{
	height:40px;
	background-image:url(../Í¼Æ¬ËØ²Ä/Íþ¿Í×¨Çøµ¼º½.jpg);
	list-style-type:none;
	padding:0px;
	margin:0px auto;
	line-height:1.8em;
	text-decoration:none;
	float:right;
}

#rili
{
	width:250px;
	height:100px;
	margin:0px auto;
	padding:0px;
	/*border:1px solid #000000;*/
	background-image:url(../Í¼Æ¬ËØ²Ä/µ×¿ò.png);
	position:relative;
	top:100px;
	text-align:center;
	line-height:0.8em;

}
#jishuluntan
{
	width:249;
	height:250px;
	border:1px solid black;
	position:relative;
	top:150px;
}
h5
{
	margin:0px;
	padding:5px;
	font:20px bold;
	color:#FFFFFF;
	text-align:center;
	background-image:url(../Í¼Æ¬ËØ²Ä/1111.jpg);
}

section{
	width:1320px;
	height:500px;
	border:0px solid #000000;
	float:right;
	position:relative;
	top:20px;
}
#main02
{
	width:900px;
	height:390px;
	float:left;
	border:1px solid #663333;
	background-color:#666666;
}
#main01
{
	width:320px;
	height:390px;
	border:1px solid #999999;
	float:left;
	margin£º0px auto;
	background-color:#743A3A;
	}
.gerenxinxi
{
margin:0px auto;
position:relative;
left:40px;
top:50px;

}

#section1
{
	width:1340px;
	height:550px;
	border-bottom:0px dashed #000000;
	float:right;
	text-align:center;	
	padding:0px;
	margin:0px auto;
	position:relative;
	top:10px;
	}
#section2
{
	width:1340px;
	height:500px;
	border:0px dashed #000000;
	float:right;
	position:relative;
 	top:400px;
	text-align:center;	
	padding:0px;
	margin:0px auto;	
}

.tr01
{
	font:16px "ÐÂËÎÌå";
	width:1200px;
	height:50px;
	float:left;
	border-bottom:1px solid #FFFFFF;
	}
.tr02
{
	font:16px "ÐÂËÎÌå";
	width:1200px;
	height:50px;
	float:left;
	text-align:center;
	line-height:2.4em;
	}
	
footer{
	clear:both;
	border:0px solid #000000;
	background-image:url(../Í¼Æ¬ËØ²Ä/µ¼º½À¸.jpg);
	color:#FFFFFF;
	
}
.botton01{
width:100px;
height:30px;

}

.span01
{
	width:1200px;
	height:40px;
	margin:0px auto;
	padding:0px;
	font:30px '»ªÎÄçúçê' ;
	background-color:#663333;
	color:#FFFFFF;
	letter-spacing:5px;
	}
.table01
{
	position:relative;
	top:80px;
	margin:0px auto;

}
.weikejishutable01
{
	width:200px;
	text-align:center;
	text-decoration:none;
	font:20px 'Ó×Ô²';
	position:relative;
	top:40px;
	left:20px;
}